h1{
  color : red ;
  text-align: center ;
}


h2{
  color : green ;
}


.nb{
  text-decoration: underline;
  text-decoration-color: red ;
}


div{
display: inline;
  font-weight: bold;
}
 p{display: inline;}

 .e2n{

   display: block;
   margin-left: auto;
   margin-right: auto;
  }
